@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background: url(/images/bgimage.JPG);
  background-repeat: no-repeat;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-size: cover;
}
.email {
  width: 100%;
  height: 50px;
  background-color: #13005a;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-mail {
  margin: 0px 100px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact-mail p {
  color: white;
}
.contact-mail img {
  width: 30px;
  height: 30px;
}
.social {
  margin-right: 100px;
  display: flex;
  align-items: center;
  background-color: white;
}
.social img {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.logo-search {
  width: 100%;
  height: 200px;

  display: flex;
  padding: 0px 100px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  height: 200px;
  width: 300px;
}
.search-bar input {
  width: 300px;
}
.searchtext{
  width: 250px;
  height: 40px;
}

.btn-search {
  width: 30px;
  height: 40px;
  background-color: blue;
  outline: none;
  border: none;
  color: white;
}

.searchtext::placeholder {
  color: blue;
  padding: 10px;
}
.nav-bar ul {
  width: 100%;
  height: 50px;
  background-color: #13005a;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.nav-bar ul li {
  list-style: none;
}
.nav-bar ul li a {
  text-decoration: none;
  color: white;
}
.div {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.div1 {
  width: 80%;
  background-color: antiquewhite;
}
.mainbg {
  width: 100%;
  height: 600px;
  background: url(/images/mainbg.jpg);
  background-size: contain;
}
.quad,
.quad1 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.quad img {
  width: 25%;
}
.quad1 .one,
.quad1 .two {
  width: 25%;
  display: flex;
  padding: 10px 20px;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}
.quad1 .one {
  background-color: #e5e0ff;
}
.one h3,
.two h3 {
  color: #13005a;
  font-size: 35px;
}
.quad1 p {
  color: #282a3a;
}
.best {
  width: 100%;
  display: flex;
  justify-content: center;
}
.best-sellers-heading {
  width: 80%;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13005a;
  color: white;
}
.products-div {
  width: 100%;
  justify-content: center;
}

.row1 {
  width: 80%;
  margin-left: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row2 {
  width: 80%;
  margin-left: 150px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.prods {
  width: 24%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 30px;
  color: #13005a;
}
.prods img {
  width: 100%;
  height: 350px;
  border: 1px solid gainsboro;
}
.best1 {
  background-color: #e5e0ff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contents {
  
  padding-bottom: 50px;
  background-color: #e5e0ff;
}
.con {
  width: 80%;
  display: flex;
  margin-left: 150px;
}
.con-left {
  width: 30%;
  
}
.con-right {
  width: 70%;
  height: 500px;
  background: url(/images/research.jpg);
}
.con-word{
  padding: 50px 50px;
 width: 55%;
 height: 100%;
 color: white;
 background-color: rgba(44, 54, 57,0.8);
}
.con-word ul li{
  margin: 30px;
 line-height: 0%;}


.con-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  color: #13005a;
 
}
.con-left div{
  padding: 10px;
}
.con-left .health{
  background-color: #13005a;
  color: White;
}
.about{
  width: 100%;
  background: url(/images/about.jpg);
  height: 350px;
  
}
.abt-color{
  width: 100%;
  height: 100%;
  background-color: rgba(19, 0, 90,0.7);
  color: white;
  text-align: center;
  padding: 70px;
}
.abt-color h1{
  margin-bottom: 50px;
  font-weight: 400;
}


.btn button{
  background-color: white;
  color: #13005a;
  font-size: large;
  margin: 10px;
  font-weight: 600;
  height: 60px;
  width: 250px;
  border: none;
}
.footer-panel{
  width: 80%;
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  margin-left: 150px;
  column-gap: 10px;

}
.footer-pane{
  width:25%;
  

}


.loho-help{
  padding: 10px;
}
.loho-help .logo img {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.our-links, .footer-pane{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #13005a;
  
}
.footer-pane h4{
  font-size: large;
  font-weight: 600;
}
.our-links a{
  text-decoration: none;
  color: #13005a;
  font-size: large;
  font-weight: 400;
  
}
.footer-pane h6, .footer-pane p{
  font-size: large;
  font-weight: 400;
  color: #13005a;
}
.address,.phone-footer,.mail-footer{
  display: flex;
  column-gap: 10px;

}
.footer{
  margin: 0px 150px;
  padding-bottom: 130px;
}
.footer-contents{
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
  
}
.cnt-us{
  display: flex;
  flex-direction: column;
  color: #13005a;

}
.worldpay{
  display: flex;
  justify-content: flex-end;
}